<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.falcon.facekall" >

    <application
        android:name=".FacekallApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.falcon.facekall.login.LoginActivity" />
        <activity android:name="com.falcon.facekall.login.RegisterActivity" />
        <activity android:name="com.falcon.facekall.login.RegisterPINActivity" />
        <activity android:name="com.falcon.facekall.login.RegisterDoneActivity" />
        <activity android:name="com.falcon.facekall.login.RegisterSetPassActivity" />

        <activity android:name="com.falcon.facekall.main.MainActivity" />

        <activity
            android:name="com.falcon.facekall.av.AvActivity"
            android:configChanges="keyboardHidden|orientation|locale|screenSize"
            android:screenOrientation="portrait" />

        <!-- chatActivity -->
        <activity
            android:name="com.falcon.facekall.av.ChatNewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="com.falcon.facekall.av.AddFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="com.falcon.facekall.av.CreateGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="com.falcon.facekall.av.GroupListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="com.falcon.facekall.av.GroupInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="com.falcon.facekall.av.InviteToGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="com.falcon.facekall.av.DeleteGroupMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="com.falcon.facekall.av.EditGroupNameActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- 用户中心 -->


        <!-- 用户中心 通讯录 -->
        <activity android:name=".mailList.AddFriendActivity" />
        <activity android:name=".mailList.AddRemarkActivity" />
        <activity android:name=".mailList.ContactsActivity" />
        <activity android:name=".mailList.FriendRequestActivity" />
        <activity android:name=".mailList.FriendsInfoAddedActivity" />
        <activity android:name=".mailList.FriendsInfoAddRemarkActivity" />
        <activity android:name=".mailList.FriendsInfoRequestActivity" />
        <activity android:name=".mailList.NewsManageActivity" />
        <activity android:name=".mailList.RemarkListActivity" />

    </application>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
